<div class="col-xl-4 col-lg-6">
    <div class="item">
        <div class="question d-flex text-center align-items-center justify-content-center">
            <h2>{{ page.title }}</h2>
        </div>
        <div class="answer d-flex align-items-center justify-content-center p-3">
            <div>
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
