<div class="item">
    <div class="d-flex align-items-center">
        <h2>{{ page.title }}</h2>
    </div>
    <div class="d-flex align-items-center">
        <div>
            {{ page.content }}
        </div>
    </div>
</div>
